-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('CLIENT', 'PROVIDER', 'SUPERVISOR', 'AGENCY_ADMIN');

-- CreateEnum
CREATE TYPE "AgencyType" AS ENUM ('AGENCY', 'SOLO_PRACTICE');

-- CreateEnum
CREATE TYPE "Sector" AS ENUM ('DD', 'HOME_HEALTH');

-- CreateEnum
CREATE TYPE "PatientStatus" AS ENUM ('ACTIVE', 'PENDING', 'HOSPITALIZED', 'DISCHARGED');

-- CreateEnum
CREATE TYPE "RiskLevel" AS ENUM ('LOW', 'MEDIUM', 'HIGH');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT,
    "phone" TEXT,
    "role" "UserRole" NOT NULL,
    "title" TEXT,
    "specialties" TEXT[],
    "agency_id" TEXT,
    "supervisor_id" TEXT,
    "patient_link" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "agencies" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "legalName" TEXT,
    "agencyType" "AgencyType" NOT NULL,
    "ein" TEXT,
    "defaultState" TEXT NOT NULL,
    "activeSectors" "Sector"[],
    "agencyMPI" TEXT,
    "providerNumbers" JSONB,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "zip_code" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "agencies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patients" (
    "id" TEXT NOT NULL,
    "encrypted_first_name" TEXT NOT NULL,
    "encrypted_last_name" TEXT NOT NULL,
    "preferred_name" TEXT NOT NULL,
    "encrypted_dob" TIMESTAMP(3) NOT NULL,
    "encrypted_ssn" TEXT,
    "encrypted_medicaid_number" TEXT,
    "encrypted_insurance_info" JSONB,
    "encrypted_address" JSONB,
    "status" "PatientStatus" NOT NULL DEFAULT 'ACTIVE',
    "risk_level" "RiskLevel",
    "admission_date" TIMESTAMP(3) NOT NULL,
    "consents" JSONB,
    "emergency_contacts" JSONB,
    "external_contacts" JSONB,
    "client_summary" JSONB,
    "agency_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "patients_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_patient_link_key" ON "users"("patient_link");

-- CreateIndex
CREATE INDEX "users_agency_id_idx" ON "users"("agency_id");

-- CreateIndex
CREATE INDEX "users_supervisor_id_idx" ON "users"("supervisor_id");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "agencies_agencyType_idx" ON "agencies"("agencyType");

-- CreateIndex
CREATE INDEX "agencies_defaultState_idx" ON "agencies"("defaultState");

-- CreateIndex
CREATE INDEX "patients_agency_id_idx" ON "patients"("agency_id");

-- CreateIndex
CREATE INDEX "patients_status_idx" ON "patients"("status");

-- CreateIndex
CREATE INDEX "patients_risk_level_idx" ON "patients"("risk_level");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_agency_id_fkey" FOREIGN KEY ("agency_id") REFERENCES "agencies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_supervisor_id_fkey" FOREIGN KEY ("supervisor_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patients" ADD CONSTRAINT "patients_agency_id_fkey" FOREIGN KEY ("agency_id") REFERENCES "agencies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

